	@font-face {
	  font-family: 'b2b';
	  src: url('../font/Back to Black Demo.ttf')  format('truetype');
	}
	.main-titles .title {
    font-family: 'b2b', cursive;
    font-size: 3.750rem !important;
    line-height: 1.5;

    position: relative;
    z-index: 10;

    margin: 0 0 70px 0;

    text-transform: capitalize;

    color: #25363a;
}
.about-us-wrapper .block-icon-1 {
    margin-bottom: 60px;
    background: rgba(235, 218, 166, 0.44);
    padding: 5px;
    border-radius: 10px;
        min-height: 275px;

}

.socials {
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 100%;
    background: #008d6b;
}
a.bistro {
    color: #000;
}
a.bistro:hover {
    color: #008d6b;
}
.bistro-img {
    min-height: 266px;
}
.footer-wrapper .widget .content-widget {
    margin-top: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #461d01;
    background-color: #ebdaa6;
}
#myCarousel .nav a {
    border-radius: 0px;
    color: #000;
}
.background-slide .slide-item .img-background {
    /*width: 100%;*/
}
section {
    min-height: 100vh;
}
.padding-top-20 {
 padding-top: 20px;
}
.padding-bottom-20 {
 padding-bottom: 20px;
}
.main-titles .title {
    margin: 0 0 30px 0;
    text-transform: capitalize;
}
.background-slide .slick-dots {
    bottom: 0px;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
    text-transform: uppercase;
}
#myCarousel .nav a {
    border-radius:0px;
}
.nav-justified {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.main-titles-2 .title {
    font-family: 'b2b', cursive;
    font-size: 3.000rem;
    line-height: 1.4;

    position: relative;
    z-index: 10;

    margin: 0 0 40px 0;

    text-transform: capitalize;

    color: #25363a;
}

.background-slide .title {
    font-family: 'b2b', cursive;
    font-size: 4.75rem;
    font-weight: 700;
    line-height: 1.5;

    margin: 0;

    letter-spacing: 5px;
    text-transform: capitalize;
}
.banner-1-wrapper .title {
    font-family: 'b2b', cursive;
    font-size: 5.000rem;

    margin: 10px 0 15px 0;

    letter-spacing: 5px;
    text-transform: capitalize;

    color: #ffffff;
}
.banner-texxt-wrapper .title {
    font-family: 'b2b', cursive;
    font-size: 2.813rem;
    line-height: 1.5;

    margin: 0 0 15px 0;

    letter-spacing: 1px;
    text-transform: capitalize;
}
.customer .icons {
    font-family: 'b2b', cursive;
    font-size: 3rem;

    margin: 0 0 5px 0;
}
.homepage-parallax .title {
    font-family: 'b2b', cursive;
    font-size: 4.375rem;
    font-weight: 700;
    line-height: 1.5;

    margin: 0;

    letter-spacing: 5px;
    text-transform: capitalize;
}
.banner-3 .content-wrapper .title .special {
    font-family: 'b2b', cursive;
    font-size: 3.000rem;

    display: inline-block;

    text-transform: capitalize;
}
.morepage-banner .title {
    font-family: 'b2b', cursive;
    font-size: 3.750rem;
    line-height: 1.5;

    position: relative;
    z-index: 10;

    margin: 0 0 10px 0;

    text-transform: capitalize;

    color: #ffffff;
}
.page-404 .title {
    font-family: 'b2b', cursive;
    font-size: 4.000rem;
    line-height: 1.4;

    margin: 0;
    margin: 30px 0 30px 0;

    text-transform: capitalize;

    color: #ffffff;
}
.block-icon-1 .description {
    color: #000;
    font-weight: 600;
    text-shadow: 0px 1px 5px #fff;
}
.banner-2 {
    overflow: hidden;
    height: auto;
    background-image: url(../images/background-full/banner-3.jpg);
}
.tab-menu .link:hover, .tab-menu li.active .link {
    color: #91845c;
}
.tab-menu .link:before {
    height: 5px;
    background-color: #91845c;
}
.tab-menu .link {
    color: #fff;
    font-weight: 600;
}
.contact-bg {
    background-image: url(../images/background-full/contact1.png);
    background-size: cover;
}
.footer-wrapper .widget .title {
    color: #000;
    font-weight: 600;
}
.plank-info .info-list li .link, .plank-service ul li .link, .plank-twitter .twitter-wrapper, .plank-twitter .twitter-wrapper .link a,.plank-info .info-list li .icons {
    color: #000;
}
        	.header-main .logo-wrapper {
			    line-height: 100px;
			    float: left;
			    padding-left: 50px;
			}
			.header-main {
			    position: relative;
			    z-index: 100;
			    width: 100%;
			    -webkit-transition: all .6s ease;
			    -moz-transition: all .6s ease;
			    -o-transition: all .6s ease;
			    transition: all .6s ease;
			    box-shadow: none;
			    border-top: 5px double #ebdaa6;
			    border-bottom: 2px solid #7d7065;
    			box-shadow: 0px 14px 41px #000;
    			background: #fff;
			}

            .header-main .logo-wrapper .logo img {
                margin-left: 80px;
            }
			.navigation .nav-links .main-menu {
			    color: #000;
			}
			.navigation .nav-links li.active .main-menu, .navigation .nav-links li:hover .main-menu {
			    color: #c8bfa7;
			    border-bottom: 2px solid #6e6038;
			}
			.navigation .nav-links .main-menu {
				    line-height: 28px;
				    position: relative;
				    margin: 35px 24px 0;
			}
			.header-main.header-fixed .navigation .nav-links .main-menu {
			    line-height: 50px;
			    margin: 0 24px;
			}
			.header-main.header-fixed {
			    position: fixed;
			    top: 0;
			    display: inherit;
			    background-color: #fff;
			    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
			}
			.homepage-banner-content {
			    padding-top: 100px;
			}
			@media screen and (max-width: 699px) {
	.mobile img {
	    display: block;
	    width: 100%
	}
	.homepage-banner-content {
		background-image: none!important;

	}
}
.block-4 .block-image {
    padding: 10px 10px 90px 10px;
    border: 8px solid #ededed;
    border-bottom: none;
}
.block-4 .block-content {
    background-color: #ebdaa6;
}
#back-top .link {
    color: #ebdaa6;
    border: 2px solid #ebdaa6;
}
#back-top .link:hover {
    color: #91845c;
    border: 2px solid #91845c;
    background-color: #ebdaa6;
}
.button-search .main-menu {
    color: #000;
}
.nav-search form .searchbutton {
    background-color: #ebdaa6;
}
.block-4 {
    position: relative;
    top: 0;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: transparent;
}
.hamburger-menu-mobile .icons, .button-search-mobile .icons {
    font-size: 26px;
    line-height: 100px;
    color: #000;
}
.block-4:hover .block-content {
    background-color: #91845c;
}
.block-4 .block-content .prices-wrapper .prices .number, .block-4 .block-content .prices-wrapper .prices sup {
    color: #91845c;
}
@media screen and (max-width: 768px) {
	.header-main .logo-wrapper .logo img {
    margin-left: 0;
}
.header-main .logo-wrapper {
    line-height: 100px;
    float: left;
    padding-left: 0;
}
}

h3
{
    font-size: 20px !important;
}

@media (max-width: 700px) { 
    
    .title
    {
       font-size: 3em !important; 
    }
}

.ml-40
{
   margin-left: 40px;
}