
@font-face {
  font-family: 'b2b';
  src: url('../font/Back to Black Demo.ttf')  format('truetype');
}

html
{
    font-family: 'Roboto', sans-serif;
}
.background-slide .title {
    font-family: 'b2b', cursive;
    font-size: 5.375rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    text-transform: capitalize;
}
img.slider-img {
    padding: 20px;
}
section {
    min-height:100vh;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}
.padding-top-15 {
    padding-top: 15px;
} 
.nav-pills>li+li a {
    margin-left: 2px;
    color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #008d6b;
    /* border: 2px dashed #fff; */
}
.nav-pills>li>a {
    border-radius: 0;
    color: #fff;
}
.nav-justified {
    width: 100%;
    border-bottom: 1px solid #008d6b;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #008d6b;
    background-color: transparent;
}
h2.title {
    color: #008d6b;
    font-weight: 900;
    /*text-shadow: 2px 2px 1px #002118;*/
    text-shadow: 1px 1px 1px #1e2120d9;
    font-size: 24px !important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 20%;
    margin-right: -10px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 20%;
    margin-left: -10px;
}
.blog-masonry .item {
    width: 43%;
        background-color: #449783;
        padding:5px;
        margin: 5px;
}
.dashed-brder 
{
    border: 2px dashed #fff;
    padding-bottom: 10px;
    /*text-shadow: -2px 0px 1px #000;*/
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.list-customer-review .slick-list {
    padding: 15px 0;
    min-height: 20em;
}
.list-customer-review .item {
    padding: 0 15px;
    border: 1px solid #000;
    /* padding: 0; */
    margin: 0 15px;
}
.customer .icons {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    margin: 0px 0 30px 0;
}
.background-slide .logo-image {
    display: block;
    max-width: 55%;
    margin: 0 auto;
}
.menu-desc p {
    text-shadow: -2px 0px 1px #000;
}
.menu-desc p a {
    color: #fff
}
.menu-desc p a:hover {
    color: #ccc;
    border-bottom: 1px dotted #fff;
}
.list-choices {
    list-style: none;
    text-shadow: -2px 0px 1px #000;
}
.menu-content {
    text-align: center;
}
.menu-title {
    color: #008d6b;
}
.background-slide .slick-dots {
    bottom: 5px;
}
.background-slide .slide-item .img-background {
    width: 100%;
}
.homepage-banner-content {
    padding-top: 60px;
}
.sep {
    border: 2px solid #d2c396;
    width: 55%;
    margin: 0 auto;
}
.socials {
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    background: #008d6b;
}
a.bistro {
    color: #fff;
}
a.bistro:hover {
    color: #008d6b;
}
.bistro-img {
    min-height: 266px;
}
.footer-wrapper .widget .content-widget {
    margin-top: 15px;
}
.about-us {
    background: url('../images/background-full/about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 75px!important;
}
.deal-today {
    background: url('../images/background-full/deal-today.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75px!important;
    position: static;
}
.customer-review {
    /*background-image: url('../images/background-full/deal-today.png');*/
    background-image: url('../images/background-full/bg-menu.jpg');
}
.img-desc {
    background: rgba(0, 0, 0, 0.31);
    padding: 10px
}
.desc-int {
    border: 2px dashed #fff;
    padding: 10px;
}
.price {
    background: url('../images/background-full/ribbon.png');
    padding: 5%;
    background-repeat: no-repeat;
    font-size: 20px;
    margin-left: -22px;
}
.top img, .bottom img {
     width:100%;
}
.contact-bg {
    background: url('../images/background-full/contact.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.time {
    background-color: #449783;
    padding: 20px;
}
.num {
    border-top: 2px solid #d2c396;
    border-bottom: 2px solid #d2c396;
    width: 50%;
    margin: 10px auto;
    font-size: 25px;
    color: #fff;
    padding: 10px 0;
}
.contact-form .form-control {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #d2c396;
}
.btn.btn-maincolor:hover {
    color: #449783;
    border-color: #449783;
    background-color: transparent;
}
.btn.btn-maincolor {
    color: #ffffff;
    border-color: #449783;
    background-color: #449783;
}
.btn:hover {
    color: #449783;
    border: 1px solid #449783;
}
#back-top .link {
    color: #449783;
    border: 2px solid #449783;
}
#back-top .link:hover {
    color: #ffffff;
    border: 2px solid #449783;
    background-color: #449783;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.header-fixed .social-nav {
    margin-top: 0;
}
.social-nav {
    margin-top: 25px;
}
.social-nav a {
    color: #fff;
}
.background-slide .slick-dots li.slick-active button:before {
    font-size: 14px;
    opacity: 1;
    color: #449783;
}
.footer {
    background-image: url(../images/background-full/footer1.jpg);
}
@media screen and (max-width: 699px) {
    .mobile img {
        display: block;
        width: 100%
    }
    .homepage-banner-content {
        background-image: none!important;

    }
}
@media screen and (min-width: 992px) {
        
    .img-bot {
        position: absolute;
        right: 2px;
        margin-top: 63em;
}
}
@media screen and (min-width: 769px) {
.carousel {
    position: relative;
    padding: 0 75px;
    background: rgba(0, 0, 0, 0.14);
}
}


@media (max-width: 700px) { 

    .nav-tabs>li {
        margin-bottom: -1px;
        width: 100% !important;
        text-align: center !important;
    }
}